.perent{
    display: flex;
    width: 100%;
    padding: 2%;
    margin: 2%;
}
.perent>.cards{
    width: 20%;
    padding: 1%;
    margin: 1%;
    border: 2px solid blue;
    text-align: center;
}
button{
    color: rgb(24, 152, 190);
}
img{
    width: 150px;
    /* height: 250px; */
}
/* mobile devices 320px to 480 px */
/* tablets 481 to 481 to 768px */
/* mini desk tops 769 to 1024px */
/* large desk tops 1025 to  1200px */
@media only screen and (min-width:320px) and (max-width:480px)
{
.perent{
    display: flex;
    flex-direction: column;
}
.perent>.cards{
    width: 90%;

}

}
@media only screen and (min-width:481px) and (max-width:768px)
{
.cards{
    display: flex;
    flex-direction: row;

}
.perent>.cards {
    width: 90%;
    text-align: end;
    
}

}